* {
    box-sizing: border-box;
    font-family: "Golos Text", sans-serif;
}

main {
    margin: 1rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="submit"],
input[type="button"],
select,
button {
    padding: 0.5rem;
    border-radius: 0.75rem;
    border: 2px solid var(--accent);
    outline: none;
    background-color: whitesmoke;
    transition: background-color 250ms;
    transition: border-color 300ms;
}

button:hover {
    background-color: var(--accent);
    border-color: var(--lighter-accent);
}

input[type="text"]:focus-visible,
input[type="password"]:focus-visible,
input[type="email"]:focus-visible,
input[type="date"]:focus-visible,
input[type="submit"]:focus-visible,
input[type="button"]:focus-visible,
select:focus-visible,
button:focus-visible {
    border: 2px solid var(--darker-accent);
}

input[type="submit"],
input[type="button"],
button {
    background-color: var(--lighter-accent);
}

a {
    color: var(--accent);
}